@use "global" as *;

.about {
padding-top: rem(36);
padding-bottom: rem(66);

@include mq(md) {
  padding-top: rem(117);
  padding-bottom: rem(73);
  }
}

.about__inner {
  max-width: calc($inner + $padding-sp * 2);//1080+20*2
  padding-inline: rem(15);
  margin: 0 auto;

  @include mq(md) {
    padding-inline: rem(20);
  }
}

.about__content {
  // position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(24);

  @include mq(md) {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: rem(40);
    margin-top: rem(119);
    min-height: rem(650);
  }
}

.about__images {
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
gap: rem(16);
width: 100%;

@include mq(md) {
  width: 50%;
  max-width: rem(600);
  position: static;
// margin-top: rem(120);
}
}

.about__image {
 

  @include mq(md) {
   
  }

  img {
  
  }
}

// .about__image--left {
//   width: rem(194);
//   position: absolute;
//   top: rem(-26);
//   left: rem(0);
//   width: rem(128);
  
//   @include mq(md) {
//     width: rem(128);
//     position: absolute;
//     top: rem(-80);
//     left: rem(0);
//     width: rem(400);
//     z-index: 99;
//   }

// img {
//   width: 100%;
// }
// }

// .about__image--right {
//   width: rem(281);
//   margin-left: auto;

//   @include mq(md) {
//   position: relative;
//   width: rem(880);
//   }

//   img {
//     width: 100%;
//   }
// }
.about__image--left,
.about__image--right {
  position: static;
  width: 100%;
  height: auto;
  display: block;

img {
  width: 100%;
  height: auto;
  display: block;
}

  @include mq(md) {

  }
}

.about__image--left {
position: absolute;
top: rem(28);
left: rem(0);
aspect-ratio: 128 / 194;
width: 34vw;
z-index: 20;
max-width: rem(400);

  @include mq(md) {
    top: rem(-80);
    width: 37vw;
  }

  img {

  }
}

.about__image--right {
position: absolute;
top: rem(55);
right: rem(0);
aspect-ratio: 281 / 186;
width:74.44vw;
z-index: 10;
max-width: rem(880);

  @include mq(md) {
    top: rem(0);
  }
}

.about__text-block {
  margin-top: rem(258);
  // position:absolute;
  // width: 38%;
  display: flex;
  flex-direction: column;
  max-width: rem(881);
  z-index: 100;

  @include mq(md) {
    position: absolute;
    margin-top: rem(120);
    // width: 40%;
    // position: relative;
    top: rem(0);
    left: rem(199);
    
    // display: flex;
    // flex-direction: row;
    // gap: rem(41);
    width: 100%;
    max-width: rem(881);
    flex-direction: row;
  }
}

.about__catchcopy {
  color:$green;
  font-family: $eg-font-family;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 100%; /* 100% */

  @include mq(md) {
  color:$white;
  font-size: rem(80);
  line-height: 125%; /* 125% */
  }
}

.about__text-block__inner {
  display: flex;
  flex-direction: column;
  margin-top: rem(16);
  z-index: 100;
  max-width: rem(400);
  // position: absolute;
  right: rem(0);
  top: rem(120);

  @include mq(md) {
  // position: absolute;
  // margin-top: rem(0);
  margin-top: rem(4);
  margin-inline: rem(40);
  }
}

.about__text {
  // color: $font-color;
  // font-family:$jp-font-family;
  font-size: rem(16);
  line-height: 150%; /* 150% */

  @include mq(md) {
  color: $white;
  }
}

.about__button {
  margin-top: rem(25);
  text-align: center;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__decoration {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-303);
    // right: rem(0);
    right: rem(43);
    width: rem(194);
    transform: translateX(rem(140));
  }

 img {
  width: 100%;
  height: auto;
  display: block;
 };
}

