@use "global" as *;

.about {
padding-top: rem(36);
padding-bottom: rem(66);
padding-inline: rem(15);

@include mq(md) {
  padding-top: rem(117);
  padding-bottom: rem(140);
  padding-inline: rem(20);
  }
}

.about__inner {
  position: relative;
  max-width: rem(1083);//1080+20
  margin: 0 auto;
  // padding: 0 rem(20);
  // padding-right: rem(20);
  // padding-left: rem(20);
}

.about__content {
  margin-top: rem(54);

  @include mq(md) {
  margin-top: rem(120);
  }
}

.about__images {
position: relative;

}

.about__image {

}

.about__image--left {
  width: rem(194);
  position: absolute;
  top: rem(-26);
  left: rem(0);
  width: rem(128);
  
  @include mq(md) {
    width: rem(128);
    position: absolute;
    top: rem(-80);
    left: rem(0);
    width: rem(400);
    z-index: 99;
  }

img {
  width: 100%;
}
}

.about__image--right {
  width: rem(281);
  margin-left: auto;

  @include mq(md) {
  position: relative;
  width: rem(880);
  }

  img {
    width: 100%;
  }
}

.about__text-block {
  position:static;
  margin-top: rem(40);


  @include mq(md) {
    position: absolute;
    margin-top: rem(0);
    top: rem(120);
    left: rem(199);
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: rem(41);
  }
}

.about__catchcopy {
  color:$green;
  font-family: $eg-font-family;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 100%; /* 100% */

  @include mq(md) {
  color:$white;
  font-family: $eg-font-family;
  font-size: rem(80);
  font-weight: $normal;
  line-height: 125%; /* 125% */
  }
}

.about__text-block__inner {
  margin-top: rem(16);
  z-index: 100;
  max-width: rem(400);

  @include mq(md) {
  // position: absolute;
  margin-top: rem(0);
  
  }
}

.about__text {
  color: $font-color;
  font-family:$jp-font-family;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 150%; /* 150% */

  @include mq(md) {
  color: $white;
  }
}

.about__button {
  margin-top: rem(50);
  text-align: center;

  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__decoration {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-303);
    right: rem(-138);
    width: rem(194);
  }

 img {
  width: 100%;
 };
}

