@use "global" as *;

.about {
padding-top: rem(60);
padding-bottom: rem(70);

  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(140);
  }
}

.about__inner {
  position: relative;
  max-width: rem(1080);
  margin: 0 auto;
  padding: 0 rem(20);
}

.about__content {
  margin-top: rem(50);

  @include mq(md) {
  margin-top: rem(120);
  }
}

.about__images {
position: relative;

}

.about__image {

}

.about__image--left {
  width: rem(194);
  position: absolute;
  top: rem(-26);
  left: rem(0);
  width: rem(128);
  
  @include mq(md) {
    width: rem(128);
    position: absolute;
    top: rem(-80);
    left: rem(0);
    width: rem(400);
    z-index: 100;
  }

img {
  width: 100%;
}
}

.about__image--right {
  width: rem(281);
  margin-left: auto;

  @include mq(md) {
  position: relative;
  width: rem(880);
  margin-left: auto;
  }

  img {
    width: 100%;
  }
}

.about__text-block {
  position:static;
  margin-top: rem(40);


  @include mq(md) {
    position: absolute;
    top: rem(120);
    left: rem(193);
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: rem(40);
  }
}

.about__catchcopy {
  color:$green;
  font-family: $eg-font-family;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 100%; /* 100% */

  @include mq(md) {
  color:$white;
  font-family: $eg-font-family;
  font-size: rem(80);
  font-weight: $normal;
  line-height: 125%; /* 125% */
  }
}

.about__text-block__inner {
  // position: absolute;
  top: rem(120);
  left: rem(0);
  z-index: 100;
  max-width: rem(400);
}

.about__text {
  color: $font-color;
  font-family:$jp-font-family;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 150%; /* 150% */


  @include mq(md) {
  color: $white;
  font-family: $jp-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  }
}

.about__button {
  margin-top: rem(40);
  text-align: center;
}

.about__decoration {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-265);
    right: rem(-105);
    width: rem(194);
  }

 img {
  width: 100%;
 };
}

