@use "global" as *;

.blog-card {
  background-color: $white;
  padding: rem(16) rem(16) rem(25) rem(16);
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  overflow: hidden;
  max-width: rem(333);
  margin: auto;
}

.blog-card__image img {
  width: 100%;
  display: block;
}

.blog-card__content {
margin-top: rem(22);

@include mq(md) {
  margin-top: rem(19);
}

}

.blog-card__date {
  color: $font-color;
  font-family: $eg2-font-family;
  font-size: rem(12);
  font-weight: 400;
  line-height: 150%; /* 150% */
  margin: 0;
  display: block;
}

.blog-card__title {
  color: $font-color;
  font-family: $jp-font-family;
  font-size: rem(16);
  font-weight: 500;
  line-height: 150%; /* 150% */
  padding-bottom: rem(5);
  border-bottom: 1px solid $green;
}

.blog-card__text {
  margin-top: rem(16);
  color: $black;
  font-family: $jp-font-family;
  font-size: rem(16);
  font-weight: 400;
  line-height: 150%; /* 150% */
}

