@use "../global" as *;

.blog {
  padding-top: rem(0);

  @include mq(md) {
    padding-bottom: rem(331);//273+31(背景画像の下からセクションの一番下までの距離)
  }
}

.blog__inner {
    // display: none;
    display: block;
    padding-top: rem(81);
    padding-inline: rem(20);
    // background-image: url(../images/common/bg_blog.jpg);
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // height: rem(500);
    position: relative;

  @include mq(md) {
    display: block;
    padding-top: rem(100);
    padding-inline: rem(20);
    background-image: url(../images/common/bg_blog.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: rem(502);
    position: relative;
  }
}

.blog__decoration {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(24);
    left: rem(100);
    width: rem(437);
  }
}

.blog__cards {
  margin-top: rem(28);
  display: flex;
  flex-direction: column;
  gap: rem(40);

  @include mq(md) {
    margin-top: rem(81);
    margin-inline: auto;
    flex-direction: row;
    gap: rem(40);
    max-width: rem(1080);
  }
}

.blog__button {
  margin-top: rem(40);
  text-align: center;

  @include mq(md) {
    margin-top: rem(79);
  }
}



