@use "global" as *;

.colorbox {
  position: relative;
  width: 100%;
  overflow: hidden;
  // min-height: rem(200);
  // aspect-ratio: 540/356;
  object-fit: cover;

  img {
    display: block;
    width: 100%;
    height: 100%;
    // opacity: 0;
    transition: opacity 0.3s ease;
    aspect-ratio: 180/140;
    object-fit: cover;
  }
}

.colorbox .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $green;
}

// .colorbox picture {
//   display: block;
//   width: 100%;
//   position: relative;
//   z-index: 1;
//   // opacity: 0;
//   // transition: opacity 0.3s ease;
// }


// .colorbox picture img {
//   // display: block;
//   // width: 100%;
//   // opacity: 0;
//   transition: opacity 0.3s ease;
// }

.colorbox__pc {
  display: none;

  @include mq(md) {
    display: block;
    width: rem(492);
    aspect-ratio: 492/746;
  }
}

.colorbox__sp {
  display: block;

  @include mq(md) {
    display: none;
  }
}
