@use "global" as *;

.drawer-icon {
  position: fixed;
  top: rem(28);
  right: rem(15);
  // width: rem(32);
  height: rem(24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 102;
  width: rem(32);
  padding: rem(0);

  @include mq(md) {
    display: none;
  }
}

.drawer-icon__bar {
  width: rem(32);
  height: rem(1);
  background: $white;
  transition: all 0.3s ease;
}

// メニューが開いている時（❌のボタン)
.drawer-icon.js-show {
  .drawer-icon__bar:nth-child(1) {
    rotate: 45deg;
    translate: 0 rem(11.5);//drawer-iconの高さからdrawer-icon__barの高さを引いた半分だけ下に移動
  }
  .drawer-icon__bar:nth-child(2) {
    display: none;
  }
  .drawer-icon__bar:nth-child(3) {
    rotate: -45deg;
    translate: 0 rem(-10);
  }
}

