@use "global" as *;

.drawer-icon {
  position: fixed;
  z-index: 102;
  top: rem(28);
  right: rem(15);
  width: rem(32);
  height: rem(24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  @include mq(md) {
    display: none;
  }
}

.drawer-icon__bar {
  display: block;
  width: 100%;
  height: 1px;
  background: $white;
  position: absolute;
  left: 0;
  transition:all 0.3s ease;
  border-radius: rem(9999);

  &:nth-last-of-type(1) {
    top: rem(0);
  }
  &:nth-last-of-type(2) {
    top: rem(12);
  }
  &:nth-last-of-type(3) {
    top: rem(24);
  }
}

// メニューが開いている時
.drawer-icon.js-show {
  .drawer-icon__bar:nth-last-of-type(1) {
    rotate: 40deg;
    translate: 0 12px;
  }
  .drawer-icon__bar:nth-last-of-type(2) {
    display: none;
  }
  .drawer-icon__bar:nth-last-of-type(3) {
    rotate: -40deg;
    translate: 0 -12px;
  }
}

