@use "global" as *;

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  z-index: 100;
  background-color: rgba(13, 41, 54, 0.68);
  // background-color: rgb(13, 41, 54);//.header__nav-itemがホバーした時に透過しないように。

  @include mq(md) {
    height: rem(90);
  }
}

.header__inner {
  padding-inline:rem(15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  max-width: rem(1360);//1440 - 40*2
  width: 100%;
  height: inherit;

  @include mq(md) {
    padding-inline:rem(20);
    justify-content: space-between;
  }
}

.header__logo {
  height: 100%;//ヘッダーと同じ高さに
  display: flex;
  align-items: center;

  a {
    max-width: rem(133);
    display: block;
    width: rem(102);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;

    @include mq(md) {
      width: rem(133);
    }

    img {
      display: block;
      height: auto;
      max-height: 100%;
    }
  }
}

.header__nav {
  display: none;

  @include mq(md) {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    text-align: center;
  }
}

.header__nav-list {
  display: flex;
  gap: rem(40);
  height: inherit;
  align-items: center;
}

.header__nav-item {
  height: 100%;

  a {
    position: relative;
    color: $white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    height: 100%;
    justify-content: center;

    &::after {
      position: absolute;
      bottom: rem(18);
      left: 0;
      content: "";
      width: 100%;
      height: rem(2);
      background:$white;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform .3s;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.header__nav-item__en {
  font-family: $eg-font-family;
  font-size: rem(18);
  line-height: 100%;
  font-weight: 400;
  display: block;
}

.header__nav-item__jp {
  font-family: $jp-font-family;
  font-size: rem(10);
  font-weight: 400;
  line-height: 1.5;
  margin-top: rem(3);
  display: block;
}

