@use "global" as *;

.information {
  background-color: $light-green;
  padding:rem(80) rem(15);

  @include mq(md) {
    padding:rem(100) rem(15);
  }
}
.information__inner {
  max-width: rem(1080);
  margin: 0 auto;
}
.information__content {
    margin-top: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(1080);


  @include mq(md) {
    margin-top: rem(40);
    display: flex;
    flex-direction: row;
    gap: rem(48);
  }
}
.information__image {
  aspect-ratio: 345 / 227;


  img {
    width: 100%;
  }

  @include mq(md) {
    aspect-ratio: 540 / 356;
    width: calc( 540 / 1080 *100%);

    img {
      width: 100%;
    }
  }
}

.information__text-block {
margin-top: rem(24);

@include mq(md) {
  margin-top: rem(61);
  width: calc( 492 / 1080 *100%);
}
}
.information__heading {
  color: $font-color;
  font-family: $jp-font-family;
  font-size: rem(20);
  font-weight: $bold;
  line-height: 120%; /* 120% */
  // margin-top: rem(61);

  @include mq(md) {
  font-size: rem(24);
  line-height: 100%; /* 100% */
  }
}

.information__text {
  padding-top: rem(8);
  border-top: 1px solid $green;
  margin-top: rem(8);
  color: $font-color;
  font-family:$jp-font-family;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 150%;

  @include mq(md) {
  }
}
.information__button {
  margin-top: rem(40);
  text-align: center;
}


