@use "global" as *;

 .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: $white;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }


