@use "global" as *;

.mv {

}

.mv__inner {

}

.mv__swiper-container {

}

.mv__swiper {

}

.mv__swiper-wrapper {

}

.mv__swiper-slide {
position: relative;//テキストを絶対配置値できるようにする
}

.mv__text {
position: absolute;
top: 49.5%;
left: 50%;
transform: translate(-50%, -50%);
color: $white;
text-align: center;
}

.mv__maintext {
  font-size: rem(40);
  letter-spacing: rem(21.6);
  font-family: $eg2-font-family;
  font-weight: $normal;
  padding-left: rem(39);

  @include mq(md) {
    font-size: rem(80);
    letter-spacing: rem(41.6);
  }
}

.mv__subtext {
  font-size: rem(20);
  font-weight: $normal;
  color: $white;
  font-family: $eg-font-family;
  margin-top: rem(-9);

  @include mq(md) {
    font-size: rem(20);
    // letter-spacing: rem(1.2);
  }
}

