@use "global" as *;

.mv {

}

.mv__inner {

}

.mv__swiper-container {

}

.mv__swiper {

}

.mv__swiper-wrapper {

}

.mv__swiper-slide {
position: relative;//テキストを絶対配置値できるようにする
}

.mv__text {
position: absolute;
top: 49%;
left: 50%;
transform: translate(-50%, -50%);
color: $white;
text-align: center;
}

.mv__maintext {
font-family:$eg2-font-family;
font-size:rem(40);
font-weight:$normal;
letter-spacing:rem(21.6);
padding-left:rem(22);
// margin-top:rem(-15);

@include mq(md) {
  font-size: rem(80);
  letter-spacing: rem(43.2);
  padding-left: rem(43);
  }
}

.mv__subtext {
font-family: $eg-font-family;
font-size: rem(20);
font-weight: $normal;
margin-top: rem(-10);

  @include mq(md) {
    // 変更なし
    // margin-top: rem(10);
  }
}

