@use "global" as *;

.price {
  padding: rem(80) rem(15);
  background-color: $light-green;

  @include mq(md) {
    padding: rem(99) rem(0);
  }
}

.price__inner {


  @include mq(md) {
    width: 90%;
    max-width: rem(1090);
    margin: 0 auto;
    text-align: center;
  }
}

.price__title {
  font-size: rem(28);
  margin-bottom: rem(4);
}

.price__sub {
font-size: rem(14);
margin-bottom: rem(40);
}

.price__contents {
  margin-top: rem(29);
  display: flex;
  flex-direction: column-reverse;
  gap: rem(40);


  @include mq(md) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(89);
  margin-top: rem(40);
  flex-wrap: wrap; //スマホで折り返し可能に
  margin-bottom: rem(74);

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/common/deco_fish.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: rem(437);
    height: rem(201);
    bottom: rem(-173);
    left: rem(-82);
  }
  }
}

.price__table {
  display: flex;
  flex-direction: column;
  gap: rem(42);
  width: 100%;

  @include mq(md) {
    flex: 1;
    min-width: rem(300);
    gap: rem(43);
    width: calc(rem(492) / rem(1077) * 100%);
    padding-left: rem(5);
  }
}

.price__category {

}

.price__category-title {
  color: $font-color;
  font-weight: bold;
  font-family:$jp-font-family;
  border-bottom: rem(1) solid $green;
  margin-bottom: rem(4);
  font-size: rem(16);
  text-align: left;
  padding-bottom: rem(3);
}

.price__list {
  margin: 0;
  padding: 0;
}

.price__item {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(4) 0 0;
}

.price__name {
font-family: $jp-font-family;
font-size: rem(14);
font-weight: $normal;
line-height: 1.9;
color: $font-color;
letter-spacing: 0.009em;

  @include mq(md) {
  font-size: rem(16);
  text-align: left;
  margin-top: rem(2);
  line-height: 150%;
  }
}

.price__cost {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.9;
  color: $font-color;
  letter-spacing: 0.02em;
  font-family: $jp-font-family;

  @include mq(md) {
  font-size: rem(16);
  // width: 30%;
  line-height: 150%;
  font-family: $jp-font-family;
  }
}

.price__image {
  display: block;
  width: 100%;
  height: auto;

  @include mq(md) {
    width: 46%;
// width: calc(rem(746) / rem(1077) * 100%);

  img {
    width: 100%;
    // opacity: 0;
    // height: auto;
    transition: opacity 0.3s ease;
    display: block;
    }
  }
}

.price__button {
  margin-top: rem(39);
  text-align: center;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.btn {

}

