@use "global" as *;

.section-title {
text-align: center;
}

.section-title__en {
color: $font-color;
font-family: $eg-font-family;
font-size: rem(32);
font-weight: 400;
line-height: 40px;

@include mq(md) {
font-size: rem(40);
}
}

.section-title__en--white {
  color: $green;

  @include mq(md) {
    color: $white;
  }
}


.section-title__en--accent {
color: $green;
font-family: $eg-font-family;
font-size: rem(32);
font-weight: $normal;
line-height: rem(40);

@include mq(md) {
font-size: rem(40);
}
}

.section-title__en--accent--white {
  color: $green;

  @include mq(md) {
    color: $white;
  }
}

.section-title__jp {
color: $green;
text-align: center;
font-family: $jp-font-family;
font-size: rem(12);
font-weight: 400;
line-height: 150%; /* 150% */
margin-top: rem(4);

@include mq(md) {
line-height: rem(18); /* 150% */
margin-top: rem(8);
}
}

.section-title__jp--white {
  color: $green;

  @include mq(md) {
    color: $white;
  }
}

.section-title__en--contact {
  font-size: rem(80);
}

.section-title__en--accent-contact {
  font-size: rem(80);
}

.section-title__jp--contact {
  margin-top: rem(16);
}



