@use "global" as *;

.section-title {
text-align: center;
}


.section-title__en {
color: $font-color;
font-family: $eg-font-family;
font-size: rem(40);
font-weight: 400;
line-height: 40px;

@include mq(md) {
font-size: rem(32);
}
}

.section-title__en--accent {
color: $green;
font-family: $eg-font-family;
font-size: rem(40);
font-weight: 400;
line-height: rem(40);

@include mq(md) {
font-size: rem(32);
}
}

.section-title__jp {
color: $green;
text-align: center;
font-family: $jp-font-family;
font-size: rem(12);
font-weight: 400;
line-height: 150%; /* 150% */
margin-top: rem(8);

@include mq(md) {
line-height: rem(18); /* 150% */
margin-top: rem(4);
}
}

