@use "../global" as *;

.voice {
  padding-block: rem(76);
  position: relative;

@include mq(md) {
  padding-block:rem(139) rem(137);
}
}

.voice__inner {
  padding-inline: rem(15);
  margin-inline: auto;
  position: relative;

  @include mq(md) {
    padding-inline: rem(20);
    max-width: rem(1122);
  }
}

.voice__items {
  margin-top: rem(44);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  align-items: center;

  @include mq(md) {
    margin-top: rem(29);
    flex-direction: row;
  }
}
.voice__decoration--top {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-120);
    left: rem(-58);
    width: rem(301);
    transform: scaleX(-1);
  }
}

.voice__decoration {
  display: none;

@include mq(md) {
  display: block;
  position: absolute;
  bottom: rem(-67);
  right: rem(21);
  width: rem(71);
  // height: 100%;
  }
}

.voice__button {
  text-align: center;
  margin-top: rem(38);

  @include mq(md) {
    margin-top: rem(81);
  }
}

