@use "global" as *;

.voice-card {
  padding:rem(13) rem(16) rem(24);
  background-color: $white;
  box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);

  @include mq(md) {
    padding: rem(24);
    overflow: hidden;
    max-width: rem(520);
  }
}

.voice-card__meta {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: rem(12);
    font-weight: 400;
    line-height: 150%;
  }
}

.voice-card__texts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: rem(16);
  // gap: rem(28);

  @include mq(md) {
    // flex-direction: column;
      gap: rem(6);
  }
}

.voice-card__body {
  margin-top: rem(0);


  @include mq(md) {
    display: flex;
    flex-direction: column;
    gap: rem(4);
    margin-top: rem(25);
  }
}

.voice-card__age {
  color: $font-color;
  font-family: $jp-font-family;
  font-size: rem(12);
  font-weight: 400;
  line-height: 150%; /* 150% */
  margin-top: rem(2);

  @include mq(md) {
  margin-top: rem(17);
  }
}

.voice-card__tag {
  color: $green;
  width: fit-content;
  font-family: $jp-font-family;
  font-size: rem(12);
  font-weight: $normal;
  line-height: 183.333%; /* 183.333% */
  padding: rem(3) rem(11);
  border: rem(1) solid $green;


  @include mq(md) {
    display: inline-block;
    padding: rem(4.8) rem(14.4);
  }
}

.voice-card__header {
  margin-top: rem(3);
  color: $font-color;
  font-family: $jp-font-family;
  font-size: rem(16);
  font-weight: $medium;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: rem(1);
    gap: rem(24);
    // border-bottom: rem(1) solid $green;
  }
}

.voice-card__title {
  color: $font-color;
  font-family: $jp-font-family;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: rem(16);
  border-bottom: rem(1) solid $green;

  @include mq(md) {
    font-size: rem(24);
    padding-bottom: rem(2);
    line-height: 1.5;
  }
}

.voice-card__image {
  // margin-top: rem(9);
  max-width: rem(288);
  width: 100%;
  margin-left: rem(9);
  margin-top: rem(11);

  @include mq(md) {
    margin-top: rem(0);
    width: rem(311);
  }

  img {
    aspect-ratio: rem(151) rem(117);
  }
}

.voice-card__text {
  margin-top: rem(15);
  color:$black;
  font-family: $jp-font-family;
  font-size: rem(16);
  font-weight: $normal;
  line-height: 150%; /* 150% */

  @include mq(md) {
    margin-top: rem(37);
  }
}

