@use "../global" as *;

.voice {
  padding-block: rem(140);
  position: relative;
}

.voice__inner {
  padding-inline: rem(20);
  margin-inline: auto;
  max-width: rem(1080);//520*2+40
  position: relative;
}

.voice__items {
  margin-top: rem(40);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  align-items: center;

  @include mq(md) {
    margin-top: rem(30);
    flex-direction: row;
  }
}
.voice__decoration--top {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    top: rem(-120);
    left: rem(-60);
    width: rem(301);
    transform: scaleX(-1);
  }
}

.voice__decoration {
  display: none;

@include mq(md) {
  display: block;
  position: absolute;
  bottom: rem(-67);
  right: rem(21);
  width: rem(71);
  // height: 100%;
  }
}

.voice__button {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}

